@model MyBookStore.Models.Author

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Authors</a>
        </li>
        <li class="breadcrumb-item ">All Authors</li>
        <li class="breadcrumb-item active">Edit Author's Name</li>


    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-pen"></i>
            Edit Author's Name

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.AuthorId)
                @Html.HiddenFor(m => m.UserId)

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Author Name</label>

                        @Html.TextBoxFor(m => m.AuthorName, new { @class = "form-control", placeholder = "Enter Author Name", required = "required", autofocus = "autofocus", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.AuthorName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <a onclick="window.history.back();" class="btn btn-outline-danger">Cancel</a>
                    <input type="submit" class="btn btn-outline-info" value="Update" />
                </div>
            }
        </div>
    </div>
</div>
