@model MyBookStore.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Categories</a>
        </li>
        <li class="breadcrumb-item ">All Categories</li>
        <li class="breadcrumb-item active">Edit Category Name</li>


    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-clipboard-list"></i>
            Edit Category

        </div>
        <div class="card-body">
            @using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.CategoryId)
                @Html.HiddenFor(m => m.UserId)
                <div class="form-group">
                    <div class="col-md-4">
                        <label class="control-label">Category Name</label>

                        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder = "Enter Category Name", required = "required", autofocus = "autofocus", @autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-6">
                    <a onclick="window.history.back();" class="btn btn-outline-danger">Cancel</a>
                    <input type="submit" class="btn btn-outline-success" value="Update" />
                </div>
            }
        </div>
    </div>
</div>
